*{
    box-sizing: border-box;
}
html{
    margin: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 10px;
}

/* Logo */
.navone{
    display: flex;
    margin: 0px;
    align-items: center;
}

/* List Link */
.navoneinner{
    display: flex;
    list-style-type: none;
    margin: 0px;
}
.navoneinner li a{
    padding: 20px;
    text-decoration: none;
    color: white;
}

.navtwo{
    display: flex;
    list-style-type: none;
    margin: 0px;
    color: white;
    text-decoration: none;
}

.navtwo a, .profile{
    padding: 20px;
}


.signinsection{
    width: 100%;
    padding-left:500px;
    padding-right:500px;
    padding-top:30px;
    padding-bottom: 320px;
}
.form-control{
    height: 50px;
}
.form-label{
    font-size: 25px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: yellow;
    padding: 10px;
}